<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>On shelf:</strong>
  <%= @book.on_shelf %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'View Books', books_path %> |
<%= link_to 'View Checkouts', checkouts_path %>
